body {
  font-family: "open sans", "sans-serif";
  overflow-x: hidden;
}
label{
	font-weight: normal;
}
blockquote {
	border: none;
	padding: 10px;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	color:#F02475;
}
a:hover,
a:active {
	color:#F02475;
	text-decoration: underline;
}

button,
button:hover,
button:active{
	border: none;
}

.navbar {
	margin-bottom: 0;
}

.form-control {
	border-radius: 0;
}

#header {
  background: url('img/bg.jpg') no-repeat fixed center 12%transparent;
  height: 370px;
  text-align: center;
}
#header.inscription {
  background: none;
  height: 0;
}
div#header.home{
	height: 100%;
	min-height: 100%;
}

#overlay {
	width: 100%;
	height: 100%;
}
#about h2{
	 font-size: 24px;
	 margin: 20px 0;
}
#about p {
	font-size: 14px;
}
.navbar-right li {
	font-size: 14px;
	color:#F02475;
}

.home .navbar-default{
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0.5px 0 1px rgba(240, 36, 117, 0.2);
	border-radius: 0;
}
.navbar-default{
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
	color:#F02475;
	text-decoration: underline;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand a,
.navbar-default .navbar-brand a:hover,
.navbar-default .navbar-brand a:active{
	color: #F02475;
	font-weight: bold;
	text-decoration: none;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active {
	color: #F02475;
	font-weight: bold;
}
.navbar-brand {
	font-size: 24px;
}

#testimonials p {
	margin-bottom: 10px;
	font-size: 18px;

}
.cta {
	text-align: center;
	margin: 30px 0;
}
#proof{
	margin: 30px 0;
}

.btnRose{
	background-color: #F02475;
	color: #FFFFFF;
	font-size: 24px;
	padding: 8px 20px;
	display: inline-block;
	border: none;
	line-height: 1;
}

#testimonials .break .btnRose {
margin-top: 8%;
}

.navbar .container li a {
	color: #f02475;
}

#slide{

}
.container h1{
	line-height: 1.5;
}
.glyphicon-ok,.fa-quote-left{
	color:#F02475;
}
.fa-quote-left{
	font-size:40px;
}

hr {
	border-color: #F02475;
	opacity:0.2;
}
.cadre{
	border:1px solid rgba(240, 36, 117, 0.1);
	margin-top: 60px;
	padding: 15px;
}

.container .col-margin{
	background-color: rgba(255,255,255,0.7);
	padding: 20px;
	width: 66%;
	margin: 23% auto 15% auto;
	min-height: 30%;
}

.espace {
	margin-top: 30px;
}

.row.espace {
	padding-bottom: 10px;
}
.benefits-item {
	line-height: 2;
}
span.glyphicon.glyphicon-ok {
	padding-right: 10px;
}

span.fa.fa-quote-left {
	font-size: 20px;
	margin-left: 10px;
}

.img_desc{

}
h1.header-title {
	margin-top: 0px;
	line-height: 1.3;
	margin-bottom: 20px;
	font-size: 2.5em;
	font-weight: lighter;
}
.col-margin .benefits-title {
	margin-top: 10px;
	margin-bottom: 30px;
}
.benefits-title {
	margin-top: 30px;
	margin-bottom: 30px;
}
.break{
	margin-top: 96px;
	margin-bottom: 96px;
	text-align: center;
}
.facebook{
	color: #3b5998;
}
.twitter{
	color: #0084B4;
}
.partenaire{
	width: 75px;
	height: 50px;
}
.partenaire-title{
	padding-left: 40px;
}
.lighter{
	font-weight: lighter;
}
.contact {
	margin-top: 3%;
}
.btnContact {
	width: 150px;
	height: 40px;
	font-size: 20px;
	padding: 10px;
	display: block;
	margin: 20px 0 30px 0;
	text-align: center;
}
.btnContact:hover,
.btnContact:active {
	color: #fff;
}
h2.underlined{
	color: #000;
	font-weight: normal;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(240, 36, 117, 0.2);
}
.marge-gauche{
	margin-left: 5%;
}
form .row.marge-gauche{
	margin-left: 0;
}

textarea#message{
	width: 64%;
}

.marge-haut ul {
	padding: 0;
}

.marge-haut ul li{
	display: inline-block;
}

ul.partenaires li{
	display: inline-block;
	padding-right: 3px;
}

a.btnRose:hover,
a.btnRose:active{
	text-decoration: none;
	color:  #FFF;
	cursor: pointer;
}

.program p.pull-right {
	margin-top: 40px;
}
#info-envoi{
	width: 100%;
	height: auto;
	margin: 10px 0;
	padding-left: 15px;
	color: #A71515;
	font-weight: bold;
	font-size: 24px;
	line-height: 2;
}

.carousel-indicators li{
	background-color: rgba(240, 36, 117, 0.1);
	border: 0.5px solid rgba(240, 36, 117, 0.1);
}
.carousel-indicators .active {
	background-color: rgba(240, 36, 117, 0.5);
	border: 0.5px solid rgba(240, 36, 117, 0.5);
}
.control {
	bottom: -20%;
}

h1.header-program {
	text-align: left;
	font-size: 21px;
	font-family: "open sans", "sans-serif";
}

.program {
	background-color: #FFF;
}

.program .container {
	padding: 0 0 20px;
}

form#inscription_form h2 {
	margin-bottom: 30px;
}
.image {
	margin: 26px 0 38px;
}
.contact h1.text-center {
	margin-top: 3%;
}
#my_iframe{
	display: none;
}
.ligne {
	text-decoration: underline;
}

/************************************
 * Footer
 ************************************/

#footer {
	border-top: 1px solid rgba(240, 36, 117, 0.2);
	padding: 10px 0 20px;
	line-height: 3.5;
}
#footer span {
	color: #000;
}
#footer i {
	font-size: 20px;
	margin-right: 10px;
}
#footer #copyright {
	margin-top: 4%;
}

#footer a {
	text-decoration: none;
}
#footer ul {
	padding: 0;
	margin: 0;
}
#footer .sociaux,
#footer li {
	display: inline-block;
}
#footer .sociaux {
	padding-left: 20px;
}
#footer #partner span {
	padding: 0 0 0 10px;
}


/************************************
 * Media Queries
 ************************************/

@media (min-width: 767px) {
	h1.header-title {
		font-size: 3em;
	}
	#partner {
		float: right;
		max-width: 190px;
	}
}

@media (max-width:768px) {
	h1.header-title {
		font-size: 2.2em;
	}
	#footer {
		text-align: center;
	}
	.container-fluid .carousel-inner blockquote {
		font-size: 14px;
	}
	.partner-title,
	.partner-logo {
		display: inline-block;
	}
}

@media (min-width: 1200px) {
}
